h1 {
    font-family: monospace,
    serif;
}
#desc {
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: lightblue;
}
strong {
    text-decoration: underline;
}
.item {
    font-size: 1.5em;
    line-height: 30px;
}

